$primary: #db242d;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

* {
	font-family: 'Work Sans', sans-serif;
}

.nav-link.active {
	font-weight: 600;
}

p {
	color: #52525b;
}

.no-scroll::-webkit-scrollbar {
	display: none;
}
